.header {
    width: 100%;
    /* Ensure the header spans the entire width of its container */
    display: flex;
    /* Use flexbox to align items */
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    /* Center the image horizontally */
}

.header h1 {
    margin: 15%;
}


.header-img {
    width: 100%;
    /* Make the image span the entire width of its container */
    height: 60%;
    /* Maintain the aspect ratio */
    max-width: 100%;
    position: relative;

    /* Ensure the image doesn't exceed its original size */
}

@media (max-width: 600px) {
    .header {
        justify-content: flex-start;
        /* Align content to the start on small screens */
        background-attachment: scroll;
        /* Disable fixed background for better performance */
    }

    .header h1 {
        margin: 10%;
        /* Reduce margin for smaller screens */
        font-size: 1.5em;
        /* Adjust font size for better readability */
    }

    .header-img {
        height: auto;
        /* Ensure height is auto to maintain aspect ratio */
    }
}