.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar-toggle-icon {
    color: #fff;
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
}

.navbar-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #000000;
}

.navbar-links a {
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
}

@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }

    .navbar-links.active {
        top: 60px;
    }
}

.navbar-logo {
    width: 50px;
    /* Adjust as needed */
    height: auto;
    /* Maintain aspect ratio */
}